<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>FOURZETA - Gerenciador de Torneios de Padel</title>
</head>

<body style="width: 100%; height: 100%; background-color: LightGray;">
	<div align="center">
		<h1>FOURZETA</h1>
		<h1>Gerenciador de Torneios de Padel</h1>
		<img align="middle" src="FourZeta_Transparente.png" alt="Icon"
			width="220" height="220" />
	</div>
	<div align="center">
		<form method="post">
			Usuário: <input type="text" value="" name="nickname" /> Senha: <input
				type="password" value="" name="senha" />
			<button type="submit">Login</button>
		</form>
	</div>

</body>

<footer>
<hr align="center" width="3600" size="3" color=black>
<h3 align="center">UNIPAMPA - RP IV GRUPO ZETA</h3>
</footer>

</html>
